// variables
$mobile-breakpoint: 660px;

// common styles
body {
  margin: 0;
  padding: 0;
  font: 14px sans-serif;
}

p {
  margin-top: 0;
}

// app styles
.container {
  padding: 10px;
  margin: 10px auto;
  text-align: center;

  @media (min-width: $mobile-breakpoint) {
    max-width: 600px;
    border-radius: 6px;
    border: 1px solid #bfbebf;
  }
}

// upload view
.upload-error {
  padding: 10px;
  color: #f67f7f;
  border-radius: 3px;
  border: 1px solid;
  background: #ffdddd;
}

// result view
.result {
  @media (min-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.result-table-row {
  display: flex;
}

.result-table-cell {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  height: 26px;
  padding: 5px;
  margin-top: -1px;
  border: 1px solid #bbbdc1;

  &::-webkit-input-placeholder {
    font-style: italic;
  }

  & + .result-table-cell {
    left: -1px;
  }

  @media (min-width: $mobile-breakpoint) {
    width: 180px;
  }
}

.result-table-cell:focus {
  z-index: 1;
  outline: none;
  border-color: #3c4349;
}

.result-table-caption {
  text-align: center;
  font-weight: bold;
  background: #cde8d7;
}

.result-aggregations {
  margin-bottom: 20px;

  .result-table-cell {
    color: #3c4349;
  }

  @media (min-width: $mobile-breakpoint) {
    margin-bottom: 0;
    margin-left: 20px;

    .result-table-cell {
      width: 100px;
    }
  }
}
